<!-- Sidebar -->
<div
  class="man-side-nav-container">
  <div class="px-6">
    <a class="flex-none text-xl font-semibold text-white" href="#" aria-label="Brand">Brand</a>
  </div>

  <mat-nav-list>
    <a class="man-nav-link" href="#">
      <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
        <polyline points="9 22 9 12 15 12 15 22" />
      </svg>
      Dashboard
    </a>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <!-- <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <circle cx="9" cy="7" r="4" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              </svg> -->
              <mat-icon aria-hidden="false" aria-label="group icon" fontIcon="group"></mat-icon>
              Users
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a class="man-nav-link" href="#"> Dashboard-2 </a>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>Panel</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="man-nav-link" href="#"> Dashboard-3 </a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>Panel</div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a class="man-nav-link" href="#"> Menu-4</a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</div>
<!-- End Sidebar -->
