<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Card -->
    <div
      class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
      <div class="flex flex-col gap-3 p-3">
        <div class="inline-flex self-end">
          <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
            [matMenuTriggerFor]="menu3">30 days</button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div>
          <strong class="block text-sm font-medium text-gray-500"> Profit </strong>
          <div>
            <span class="text-4xl font-bold text-gray-900 dark:text-gray-300"> $404.32 </span>
            <span class="text-xs text-gray-500">
              <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
                <span class="text-xs font-medium"> 67.81% </span>
              </div>
            </span>
          </div>
        </div>
        <div>
          <!-- Graphig goes here -->
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div
      class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
      <div class="flex flex-col gap-3 p-3">
        <div class="inline-flex self-end">
          <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
            [matMenuTriggerFor]="menu3">30 days</button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div>
          <strong class="block text-sm font-medium text-gray-500"> Profit </strong>
          <div>
            <span class="text-4xl font-bold text-gray-900 dark:text-gray-300"> $404.32 </span>
            <span class="text-xs text-gray-500">
              <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
                <span class="text-xs font-medium"> 67.81% </span>
              </div>
            </span>
          </div>
        </div>
        <div>
          <!-- Graphig goes here -->
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div
      class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
      <div class="flex flex-col gap-3 p-3">
        <div class="inline-flex self-end">
          <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
            [matMenuTriggerFor]="menu3">30 days</button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div>
          <strong class="block text-sm font-medium text-gray-500"> Profit </strong>
          <div>
            <span class="text-4xl font-bold text-gray-900 dark:text-gray-300"> $404.32 </span>
            <span class="text-xs text-gray-500">
              <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
                <span class="text-xs font-medium"> 67.81% </span>
              </div>
            </span>
          </div>
        </div>
        <div>
          <!-- Graphig goes here -->
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
